@using SmartLMS.Dominio.Entidades;
@model SmartLMS.WebUI.Models.CabecalhoViewModel
<nav class="navbar navbar-primary navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="logo" class="img-circle img-raised navbar-brand">
                <img src="~/content/img/logo.png" width="40" height="40" alt="@Parametro.PROJETO logo" rel="tooltip">
            </div>
            @Html.ActionLink(Parametro.PROJETO, "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @ViewBag.AreaConhecimentoPlural
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @foreach (var item in Model.AreasConhecimento)
                        {
                            <li><a href="@Url.Action("Index", "Assunto", new { Id = item.Id })">@item.Nome</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
                        <li>@Html.ActionLink("Professores", "Index", "Professor")</li>
                        <li><a href="#">Turmas</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Gerenciar Conteúdo</li>
                        <li><a href="#">@Parametro.AREA_CONHECIMENTO_PLURAL</a></li>
                        <li><a href="#">@Parametro.ASSUNTO_PLURAL</a></li>
                        <li><a href="#">@Parametro.CURSO_PLURAL</a></li>
                        <li><a href="#">@Parametro.AULA_PLURAL</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Auditoria</li>
                        <li><a href="#">Log Geral</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  data-toggle="modal" data-target="#sobre">Sobre</a></li>
                <li><a href="#"  data-toggle="modal" data-target="#faleConosco">Fale Conosco</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">person</i>@Model.Usuario.Nome <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Aviso")">Avisos</a></li>
                        <li><a href="#">Alterar Senha</a></li>
                        <li><a href="@Url.Action("Sair", "Autenticacao")">Sair</a></li>
                    </ul>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
