@model Carubbi.GenericRepository.PagedListResult<SmartLMS.WebUI.Models.AcessoViewModel>
@{
    ViewBag.Title = "Histórico de acessos";
   
}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Filtros da consulta</h3>
    </div>
    <div class="panel-body panel-body-no-margin">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label class="control-label">Data Início</label>
                    <input class="datepicker form-control" type="text" id="dataInicio" value="@DateTime.Now.AddMonths(-1).ToShortDateString()" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label class="control-label">Data Fim</label>
                    <input class="datepicker form-control" type="text" id="dataFim" value="@DateTime.Now.ToShortDateString()" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label for="TipoAcesso" class="control-label">Tipo de Acesso</label>
                    @Html.DropDownList("TipoAcesso", ViewBag.TiposAcesso as SelectList, new { @class = "form-control dropdownjs" })
                </div>
            </div>
            <div class="text-right">
                <button id="btnFiltrar" class="btn btn-primary btn-sm">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="content">
        <h5 class="titulo-indice">
            Histórico de acessos
        </h5>
        <div>
            <div id="historico-container" class="list-group">
                @foreach (var item in Model.Entities)
                {

                    <div class="list-group-item list-group-item-sm">

                        @if (item.TipoAcesso == SmartLMS.Dominio.Servicos.TipoAcesso.Aula)
                        {
                            <a href="@Url.Action("Ver","Aula", new { Id = item.IdConteudo })" class='link-group-item'>
                                <div class="row-action-primary">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <div class="row-content">
                                    <h5 class="list-group-item-heading">@item.Nome</h5>
                                    <div class="progress progress-line-primary">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentual" aria-valuemin="0" aria-valuemax="100" style="width: @item.Percentual%;">
                                            <span class="sr-only">@(item.Percentual)% Concluída</span>
                                        </div>
                                    </div>
                                    <p class="list-group-item-text">@item.NomeCurso</p>
                                    <div class="footer-content">@item.DataHoraTexto</div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Baixar","Aula", new { Id = item.IdConteudo })" class='link-group-item'>
                                <div class="row-action-primary">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="row-content">
                                    <h5 class="list-group-item-heading">@item.Nome</h5>
                                    <p class="list-group-item-text">@item.NomeCurso</p>
                                    <div class="footer-content">@item.DataHoraTexto</div>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="list-group-separator list-group-separator-sm"></div>
                }


            </div>
            @Html.Partial("_paginacao")
        </div>
    </div>
</div>

@section scripts {
    <script type="text/x-handlebars-template" id="resultado-template">
        {{#each Entities}}
        <div class="list-group-item list-group-item-sm">

            {{#equals TipoAcesso 1}}
            <a href="@Url.Content("~/")Aula/Ver/{{IdConteudo}}" class='link-group-item'>
                <div class="row-action-primary">
                    <i class="fa fa-laptop"></i>
                </div>
                <div class="row-content">
                    <h5 class="list-group-item-heading">{{Nome}}</h5>
                    <div class="progress progress-line-primary">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{Percentual}}" aria-valuemin="0" aria-valuemax="100" style="width: {{Percentual}}%;">
                            <span class="sr-only">{{Percentual}}% Concluída</span>
                        </div>
                    </div>
                    <p class="list-group-item-text">{{NomeCurso}}</p>
                    <div class="footer-content">{{DataHoraTexto}}</div>
                </div>
            </a>
            {{else}}
            <a href="@Url.Content("~/")Aula/Baixar/{{IdConteudo}}" class='link-group-item'>
                <div class="row-action-primary">
                    <i class="fa fa-laptop"></i>
                </div>
                <div class="row-content">
                    <h5 class="list-group-item-heading">{{Nome}}</h5>
                    <p class="list-group-item-text">{{NomeCurso}}</p>
                    <div class="footer-content">{{DataHoraTexto}}</div>
                </div>
            </a>
            {{/equals}}
        </div>
        <div class="list-group-separator list-group-separator-sm"></div>
        {{/each}}
    </script>
    <script>
        SmartLMS.HistoricoProxy = (function () {
            $public = {}, $private = {};


            $public.Listar = function (dataInicio, dataFim, tipo, pagina) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Usuario/ListarHistorico",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ dataInicio: dataInicio, dataFim: dataFim, tipo: tipo, pagina: pagina })
                });
            };

            return $public;
        }());

        (function (proxy) {
            var $private = {}, $public = {};

            $(function () {
                $private.TipoAcesso = 0;

                $("#TipoAcesso").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    $private.TipoAcesso = selectedItem.val();

                });

                $("#btnFiltrar").on("click", $private.ConsultarHistorico);
            });

            $private.Listar = function (pagina) {
                var dataInicio = $("#dataInicio").val();
                var dataFim = $("#dataFim").val();
                return proxy.Listar(dataInicio, dataFim, $private.TipoAcesso, pagina);
            };

            $private.ConsultarHistorico = function () {
                SmartLMS.Paginacao.Pagina = 1;
                var termo = $("#termo").val();
                $.when(proxy.Listar(dataInicio, dataFim, $private.TipoAcesso, SmartLMS.Paginacao.Pagina))
                    .then(SmartLMS.Paginacao.AtualizarResultados)
                    .then(SmartLMS.App.InicializarControles);
            };

        }(SmartLMS.HistoricoProxy));
    </script>
}