@{
    Layout = null;
}
@using SmartLMS.Domain.Entities
@using SmartLMS.Domain.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Parameter.APP_NAME - Login</title>
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <script>
        var SmartLMS = {};
        SmartLMS.api = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csscustom")
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="~/Content/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="128x128" href="~/Content/icons/icon-128x128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="192x192" href="~/Content/icons/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="384x384" href="~/Content/icons/icon-384x384.png">
    <link rel="apple-touch-icon" sizes="512x512" href="~/Content/icons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="72x72" href="~/Content/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="~/Content/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="~/Content/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="~/Content/icons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="~/Content/icons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="~/Content/icons/icon-512x512.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/icons/icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body class="signup-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('@Resource.Wallpaper'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
                        @RenderBody()
                    </div>
                </div>

                <footer class="footer">
                    <div class="container">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    Smart 2.0 - LMS
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            © 2016, @Resource.MadeWithLoveMessage <i class="fa fa-heart heart"></i> @Resource.MadeBy <a href="http://www.github.com/rcarubbi" target="_blank">Raphael Carubbi</a>
                        </div>
                    </div>
                </footer>
            </div>
         </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/data")
    @Scripts.Render("~/bundles/bootstrap")
   @RenderSection("scripts", false)
</body>
</html>
