@using SmartLMS.Domain.Resources
@model Carubbi.GenericRepository.PagedListResult<ClassroomViewModel>
@{
    ViewBag.Title = Resource.ClassroomManagementPageTitle;
}
@section styles {
    <style type="text/css">
        .checkbox {
            margin: 0px;
        }

        .form-group {
            margin-top: 10px !important;
        }
    </style>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        @Resource.ClassroomManagementPageTitle
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Create")" class="btn btn-sm btn-info"><i class="material-icons">group_add</i></a>
            </div>
            <div class="col-md-6 pull-right">
                <div class="col-md-3">
                    <div class="form-group label-static is-empty">
                        <label for="SearchField" class="control-label">@Resource.SearchByLabel</label>
                        @Html.DropDownList("SearchField", ViewBag.SearchFields as SelectList, new { id= "SearchField", @class = "form-control dropdownjs" })
                    </div>
                </div>
                <div class="form-group label-floating is-empty col-md-9">
                    <label class="control-label" for="q">@Resource.AdminSearchText</label>
                    <div class="input-group" style="display:block">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="search" name="term" id="term" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm" id="filter-button">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(Resource.ClassroomNameFieldName)
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName(Resource.ActiveFieldName)
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName(Resource.CreatedAtFieldName)
                    </th>
                    <th>@Html.DisplayName(Resource.DetailsColumn)</th>
                    <th>@Html.DisplayName(Resource.EditDeleteColumn)</th>
                </tr>
            </thead>
            <tbody id="result-container">
                @foreach (var item in Model.Entities)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @item.CreatedAt.ToShortDateString()
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                                <a class="btn btn-success btn-sm show-courses-button" data-id="@item.Id" data-name="@item.Name" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.CoursePlural">
                                    <i class="material-icons">school</i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-warning btn-sm show-students-button" data-id="@item.Id " data-name="@item.Name" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.StudentPlural">
                                    <i class="material-icons">group</i>
                                </a>
                                <a href="@Url.Action("Plans", new { ClassroomId = item.Id })" class="btn btn-info btn-sm " data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.DeliveryPlanName">
                                    <i class="fa fa-calendar delivery-plan-button"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                                <a href="@Url.Action("Edit", new { Id = item.Id })" class="btn btn-success btn-sm">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-danger btn-sm delete-button" data-id="@item.Id" data-name="@item.Name">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            @if (!Model.Entities.Any())
            {
                <tr>
                    <td colspan="5" class="text-center">
                        No classroom found
                    </td>
                </tr>
            }

        </table>
        @Html.Partial("_Pagination")
    </div>
</div>


<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="@Resource.DeleteClassroomConfirmationTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">@Resource.DeleteClassroomConfirmationTitle</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-delete-agree" data-dismiss="modal"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-thumbs-down"></i></button>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_StudentsListModal")
@Html.Partial("_CoursesListModal")




@section scripts {
    <script src="~/Scripts/pagination.js"></script>
    <script type="text/x-handlebars-template" id="result-template">
        {{#each Entities}}
        <tr>
            <td>
                {{Name}}
            </td>
            <td class="hidden-sm hidden-xs">
                <div class="checkbox">
                    <label>
                        <input name="Active" type="checkbox" disabled {{#if Active}} checked {{/if}}>
                    </label>
                </div>
            </td>
            <td class="hidden-sm  hidden-xs">
                {{toShortDateString CreatedAt}}
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                    <a href="javascript:void(0);" class="btn btn-success btn-sm show-courses-button" data-id="{{Id}}" data-name="{{Name}}" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.CoursePlural" rel=tooltip>
                        <i class="material-icons">school</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-warning btn-sm show-students-button" data-id="{{Id}}" data-name="{{Name}}" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.StudentPlural" rel=tooltip>
                        <i class="material-icons">group</i>
                    </a>
                    <a href="@Url.Content("~/Classroom/Plans/"){{Id}}" class="btn btn-info btn-sm " data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.DeliveryPlanName" rel=tooltip>
                        <i class="fa fa-calendar delivery-plan-button"></i>
                    </a>
                </div>
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                    <a href="@Url.Content("~/Classroom/Edit/"){{Id}}" class="btn btn-success btn-sm">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm delete-button" data-id="{{Id}}" data-name="{{Name}}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </td>
        </tr>
        {{/each}}
        {{#equals Count 0}}
        <tr>
            <td colspan="5" class="text-center">
                @Resource.NoClassroomAdmin
            </td>
        </tr>
        {{/equals}}
    </script>
  
    <script src="~/Scripts/classroomProxy.js"></script>
    <script>
        
        (function (proxy) {
            var $private = {}, $public = {};

            $(function () {

                SmartLMS.Pagination.init({
                    onPageChanged: $private.changePage,
                });
                $private.SearchFieldName = "@Resource.ClassroomNameFieldName";

                $("#SearchField").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    $private.SearchFieldName = selectedItem.val();
                });

                $("#filter-button").on("click", $private.search);
                $private.ClassroomStudentsTemplate = Handlebars.compile($("#classroom-students-template").html());
                $private.ClassroomCourseTemplate = Handlebars.compile($("#classroom-courses-template").html());


                $("#deleteConfirmation").on("click", ".btn-delete-agree", $private.delete);
                $(document).on("click", "#result-container .delete-button", $private.deleteConfirmation);
                $(document).on("click", "#result-container .show-courses-button", $private.loadCourses);
                $(document).on("click", "#result-container .show-students-button", $private.loadStudents);
                $('body').tooltip({
                    selector: '[rel=tooltip]'
                });

            });


            $private.delete = function () {
                var id = $(this).parent().parent().find(".modal-body").data("id");
                SmartLMS.App.AddNotification({
                    MessageTitle: "@Resource.ClassroomManagementToastrTitle",
                    Message: "@Resource.ClassroomDeletedToastrMessage",
                    MessageType: "error",
                });
                proxy.delete(id).done($private.search);
            };

            $private.deleteConfirmation = function (e) {
                e.preventDefault();

                var classroom = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };

                $("#deleteConfirmation").find(".modal-body").data("id", classroom.id);
                $("#deleteConfirmation").find(".modal-body").html("<p>@Resource.DeleteClassroomConfirmationText " + classroom.name + "?</p>");
                $("#deleteConfirmation").modal();
            };

            $private.loadStudents = function (e) {
                e.preventDefault();

                var classroom = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };
                $("#students-list").find(".modal-title").text("@Resource.StudentsInClassroomTitle " + classroom.name);

                proxy.listStudents(classroom.id).done($private.showStudents);

            };

            $private.showStudents = function (data) {
                $("#students-container").html($private.ClassroomStudentsTemplate(data));
                $("#students-list").modal();
            };

            $private.loadCourses = function (e) {
                e.preventDefault();

                var classroom = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };
                $("#courses-list").find(".modal-title").text("@Resource.CoursesInClassroomTitle " + classroom.name);
                proxy.listCourses(classroom.id).done($private.showCourses);
            };

            $private.showCourses = function (data) {
                $("#courses-container").html($private.ClassroomCourseTemplate(data));
                $("#courses-list").modal();
            };

            $private.search = function () {
                SmartLMS.Pagination.CurrentPage = 1;
                var term = $("#term").val();
                $.when(proxy.search(term, $private.SearchFieldName, SmartLMS.Pagination.CurrentPage))
                    .then(SmartLMS.Pagination.refreshResults)
                    .then(SmartLMS.App.InitControls);
            };

            $private.changePage = function (page) {
                var term = $("#term").val();
                return proxy.search(term, SmartLMS.Pagination.SearchFieldName, page);
            };

        }(SmartLMS.ClassroomProxy));
    </script>
}
