@using SmartLMS.Domain.Resources
@model IEnumerable<SmartLMS.Domain.Entities.Delivery.Classroom>

@{
    ViewBag.Title = Resource.ClassroomPlural;
}

<div class="col-md-12">
    <div id="subject-index-container">
        <div class="card">
            <div class="content">
                <h3 class="text-primary index-title">@Resource.ClassroomPlural</h3>
                <div class="list-group">
                    @foreach (var classroom in Model)
                    {
                        <div class="list-group-item">
                            <div class="row-action-primary">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="row-content">

                                <h4 class="list-group-item-heading">@classroom.Name</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="list-group-item-text">@classroom.Courses.Count() @(classroom.Courses.Count() > 1 ? Resource.CoursePlural : Resource.CourseName)</p>
                                        <p class="list-group-item-text">@classroom.DeliveryPlans.Count() @(classroom.DeliveryPlans.Count() > 1 ? Resource.DeliveryPlanPlural : Resource.DeliveryPlanName)</p>
                                        <p class="list-group-item-text">@classroom.DeliveryPlans.SelectMany(dp => dp.Students).Count() @(classroom.DeliveryPlans.SelectMany(dp => dp.Students).Count() > 1 ? Resource.StudentName : Resource.StudentPlural) </p>
                                    </div>
                                    <div class="col-md-4">
                                        <div href="javascript:void(0);" class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                                            <a class="btn btn-success btn-sm show-courses-button" data-id="@classroom.Id" data-name="@classroom.Name" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.CoursePlural">
                                                <i class="material-icons">school</i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-warning btn-sm show-students-button" data-id="@classroom.Id " data-name="@classroom.Name" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.StudentPlural">
                                                <i class="material-icons">group</i>
                                            </a>
                                            <a href="@Url.Action("DeliveryPlan", new {ClassroomId = classroom.Id})" class="btn btn-info btn-sm " data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="@Resource.DeliveryPlanName">
                                                <i class="fa fa-calendar delivery-plan-button"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="list-group-separator"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_StudentsListModal")
@Html.Partial("_CoursesListModal")

@section scripts {
    <script src="~/Scripts/classroomProxy.js"></script>
    <script>
        (function(proxy) {
            var $private = {}, $public = {};

            $(function() {

                $private.ClassroomStudentsTemplate = Handlebars.compile($("#classroom-students-template").html());
                $private.ClassroomCourseTemplate = Handlebars.compile($("#classroom-courses-template").html());

                $(document).on("click", ".show-courses-button", $private.loadCourses);
                $(document).on("click", ".show-students-button", $private.loadStudents);

            });


            $private.loadStudents = function(e) {
                e.preventDefault();

                var classroom = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };
                $("#students-list").find(".modal-title").text("@Resource.StudentsInClassroomTitle " + classroom.name);

                proxy.listStudents(classroom.id).done($private.showStudents);

            };

            $private.showStudents = function(data) {
                $("#students-container").html($private.ClassroomStudentsTemplate(data));
                $("#students-list").modal();
            };

            $private.loadCourses = function(e) {
                e.preventDefault();

                var classroom = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };
                $("#courses-list").find(".modal-title").text("@Resource.CoursesInClassroomTitle " + classroom.name);
                proxy.listCourses(classroom.id).done($private.showCourses);
            };

            $private.showCourses = function(data) {
                $("#courses-container").html($private.ClassroomCourseTemplate(data));
                $("#courses-list").modal();
            };


        }(SmartLMS.ClassroomProxy));
    </script>
}