@model Carubbi.GenericRepository.PagedListResult<SmartLMS.WebUI.Models.AvisoViewModel>
@{
    ViewBag.Title = "Histórico de avisos";

}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Filtros da consulta</h3>
    </div>
    <div class="panel-body panel-body-no-margin">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label class="control-label">Data Início</label>
                    <input class="datepicker form-control" type="text" id="dataInicio" value="@DateTime.Now.AddMonths(-1).ToShortDateString()" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label class="control-label">Data Fim</label>
                    <input class="datepicker form-control" type="text" id="dataFim" value="@DateTime.Now.ToShortDateString()" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-static is-empty">
                    <label for="TipoAcesso" class="control-label">Tipo de Acesso</label>
                    @Html.DropDownList("TipoAviso", ViewBag.TiposAviso as SelectList, new { @class = "form-control dropdownjs" })
                </div>
            </div>
            <div class="text-right">
                <button id="btnFiltrar" class="btn btn-primary btn-sm">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="content">
        <h5 class="titulo-indice">
            Histórico de avisos
        </h5>
        <div>
            <div id="resultado-container" class="list-group">
                @foreach (var item in Model.Entities)
                {

                    <div class="list-group-item list-group-item-sm">
                        <div class="row-action-primary">
                            @switch (item.Tipo)
                            {

                                case SmartLMS.Domain.Servicos.TipoAviso.Geral:
                                    <i class="material-icons">public</i>
                                    break;
                                case SmartLMS.Domain.Servicos.TipoAviso.Turma:
                                    <i class="material-icons">people</i>
                                    break;
                                case SmartLMS.Domain.Servicos.TipoAviso.Pessoal:
                                    <i class="material-icons">person</i>
                                    break;
                            }

                        </div>
                        <div class="row-content">
                            <h5 class="list-group-item-heading">@item.Tipo</h5>
                            @if (item.Tipo == SmartLMS.Domain.Servicos.TipoAviso.Turma)
                            {
                                <p class="list-group-item-text">@item.NomeTurma</p>
                            }
                            <p class="list-group-item-text">@Html.Raw(item.Texto)</p>
                            <div class="footer-content">@item.DataHora</div>
                        </div>
                    </div>
                    <div class="list-group-separator list-group-separator-sm"></div>
                }


            </div>

            @Html.Partial("_paginacao")
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/paginacao.js"></script>
    <script type="text/x-handlebars-template" id="resultado-template">
        {{#each Entities}}
        <div class="list-group-item list-group-item-sm">
            <div class="row-action-primary">
                {{#equals Tipo 1}}
                <i class="material-icons">public</i>
                {{else}}
                {{#equals Tipo 2}}
                <i class="material-icons">people</i>
                {{else}}
                <i class="material-icons">person</i>
                {{/equals}}
                {{/equals}}
            </div>
            <div class="row-content">
                <h5 class="list-group-item-heading">{{TipoDescricao}}</h5>
                {{#equals Tipo 2}}
                <p class="list-group-item-text">{{NomeTurma}}</p>
                {{/equals}}
                <p class="list-group-item-text">{{{Texto}}}</p>
                <div class="footer-content">{{DataHora}}</div>
            </div>
        </div>
        <div class="list-group-separator list-group-separator-sm"></div>
        {{/each}}
    </script>

    <script>
        SmartLMS.HistoricoAvisosProxy = (function () {
            $public = {}, $private = {};


            $public.Listar = function (dataInicio, dataFim, tipo, pagina) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Aviso/ListarHistoricoAvisos",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ dataInicio: dataInicio, dataFim: dataFim, tipo: tipo, pagina: pagina })
                });
            };

            return $public;
        }());

        (function (proxy) {
            var $private = {}, $public = {};

            $(function () {


                SmartLMS.Paginacao.init({
                    onPageChanged: $private.Listar,
                });

                $private.TipoAcesso = 0;
  
                $("#TipoAviso").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    $private.TipoAcesso = selectedItem.val();

                });
                $("#btnFiltrar").on("click", $private.ConsultarHistorico);
             

            });


            $private.Listar = function (pagina) {
                var dataInicio = $("#dataInicio").val();
                var dataFim = $("#dataFim").val();
                return proxy.Listar(dataInicio, dataFim, $private.TipoAcesso, pagina);
               
            };

 
            $private.ConsultarHistorico = function () {
                SmartLMS.Paginacao.Pagina = 1;
                var dataInicio = $("#dataInicio").val();
                var dataFim = $("#dataFim").val();
                proxy.Listar(dataInicio, dataFim, $private.TipoAcesso, SmartLMS.Paginacao.Pagina).done(SmartLMS.Paginacao.AtualizarResultados);
            };

   

        }(SmartLMS.HistoricoAvisosProxy));
    </script>
}