@model SmartLMS.WebUI.Models.AreaConhecimentoViewModel
@{
    ViewBag.Title = "Índice de " + ViewBag.AreaConhecimento + " - " + Model.Nome;
}

<div class="col-md-9">
    <div id="indice-area-container">
        @Html.Partial("_AreaConhecimentoPanel", Model)
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Veja também outras @(ViewBag.AreaConhecimentoPlural.ToLower())</h3>
        </div>
        <div class="panel-body panel-body-no-margin">
            @{
                string label = string.Concat("Selecione uma ", ViewBag.AreaConhecimento.ToString());
            }
            @Html.DropDownList("outrasAreasConhecimento", ViewBag.OutrasAreas as SelectList, label, new { @class= "form-control dropdownjs" })
        </div>
    </div>
 </div>
@section scripts {
    <script>
        (function () {
            $(function () {
                var optionAtivo = $('<option>', {
                    value: '@Model.Id',
                    text: '@Html.Raw(Model.Nome)'
                });

                $("#outrasAreasConhecimento").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    var id = selectedItem.val();
                    var text = selectedItem.text();
                    if (id !== "")
                    {
                        $(this).append(optionAtivo);
                        optionAtivo = $('<option>', {
                            value: id,
                            text: text
                        });

                        selectedItem.remove();
                        $(this).dropdownjs();

                        $("#indice-area-container").fadeOut("fast", null, function () {
                            $("#indice-area-container").load(SmartLMS.api + "Assunto/ExibirIndiceArea/" + id, null,
                                function () {
                                    SmartLMS.App.initializeCarouselMulti();
                                    $("#indice-area-container").fadeIn();
                                    $.material.init();
                                });
                        });
                    }
                });
            });
        }());

    </script>
}