@model SmartLMS.WebUI.Models.AssuntoViewModel
@{
    ViewBag.Title = "Índice de " + ViewBag.Assunto + " - " + Model.Nome;
}

<div class="col-md-8">
    <div id="indice-assunto-container">
        @Html.Partial("_indiceAssunto", Model)
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Veja também outros @(ViewBag.AssuntoPlural.ToLower()) desta @ViewBag.AreaConhecimento.ToLower()</h3>
        </div>
        <div class="panel-body panel-body-no-margin">
            @{
                string label = string.Concat("Selecione um ", ViewBag.Assunto.ToString());
            }
            @Html.DropDownList("outrosAssuntos", ViewBag.OutrosAssuntos as SelectList, label, new { @class= "form-control dropdownjs" })
        </div>
    </div>
 </div>
@section scripts {
    <script>
        (function () {
            $(function () {
                var optionAtivo = $('<option>', {
                    value: '@Model.Id',
                    text: '@Model.Nome'
                });

                $("#outrosAssuntos").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    var id = selectedItem.val();
                    var text = selectedItem.text();
                    if (id !== "")
                    {
                        $(this).append(optionAtivo);
                        optionAtivo = $('<option>', {
                            value: id,
                            text: text
                        });

                        selectedItem.remove();
                        $(this).dropdownjs();

                        $("#indice-assunto-container").fadeOut("fast", null, function () {

                            $("#indice-assunto-container").load(SmartLMS.api + "Curso/ExibirIndiceAssunto/" + id, null,
                                function () {
                                    $("#indice-assunto-container").fadeIn();
                                });
                        });
                    }
                });
            });
        }());

    </script>    
}