@using SmartLMS.Domain.Entities;
@model SmartLMS.WebUI.Models.HeaderViewModel
<nav class="navbar navbar-primary navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="logo" class="img-circle img-raised navbar-brand">
                <img src="~/content/img/logo.png" width="40" height="40" alt="@Parameter.APP_NAME logo" rel="tooltip">
            </div>
            @Html.ActionLink(Parameter.APP_NAME, "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @Parameter.KNOWLEDGE_AREA_PLURAL
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @foreach (var item in Model.KnowledgeAreas)
                        {
                            <li><a href="@Url.Action("Index", "Subject", new { Id = item.Id })">@item.Name</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">People management</li>
                        <li>@Html.ActionLink("Students", "IndexAdmin", "Student")</li>
                        <li>@Html.ActionLink("Teachers", "IndexAdmin", "Teacher")</li>
                        <li>@Html.ActionLink("Classrooms", "IndexAdmin", "ClassRoom")</li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Content management</li>
                        <li>@Html.ActionLink("Knowledge Areas", "IndexAdmin", "KnowledgeArea")</li>
                        <li>@Html.ActionLink("Subjects", "IndexAdmin", "Subject")</li>
                        <li>@Html.ActionLink("Courses", "IndexAdmin", "Course")</li>
                        <li>@Html.ActionLink("Classes", "IndexAdmin", "Class")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  data-toggle="modal" data-target="#sobre">About</a></li>
                <li><a href="#"  data-toggle="modal" data-target="#faleConosco">Talk to us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">person</i>@Model.User.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Notice")">Notices</a></li>
                        <li><a href="@Url.Action("AccessHistory", "User")">Access history</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Authentication")">Change password</a></li>
                        <li><a href="@Url.Action("Signout", "Authentication")">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
