@model SmartLMS.WebUI.Models.AssuntoViewModel

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Curso", new { Id = Model.Id })">
                <h3 class="panel-title text-white"><i class="fa fa-map text-white"></i> @(Model.Nome)</h3>
            </a>
        </div>
        <div class="panel-body">
            @if (Model.Cursos.Count() > 0)
            {
                <div class="container">
                    <div class="container text-center">
                        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="carousel-@Model.IdArea-@Model.Ordem">
                            <div class="carousel-inner">
                                @{
                                    bool primeiro = true;
                                    Html.ViewData.Add(new KeyValuePair<string, object>("activeItemCSSClass", "active"));
                                }
                                @foreach (var curso in Model.Cursos)
                                {
                                    if (primeiro)
                                    {
                                        primeiro = !primeiro;
                                    }
                                    else
                                    {
                                        Html.ViewData["activeItemCSSClass"] = "";
                                    }
                                    @Html.Partial("_CursoGroupItem", curso, Html.ViewData)

                                }
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-@Model.IdArea-@Model.Ordem" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#carousel-@Model.IdArea-@Model.Ordem" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
                <a class="btn btn-simple btn-primary pull-right" href="@Url.Action("Index", "Curso", new { Id = Model.Id })">Veja o índice completo <span class="label label-info">@Model.Cursos.Count()</span></a>
            }
            else
            {
                <h4 class="text-center">Ainda não temos nenhum conteudo nesta seção</h4>
            }
        </div>
    </div>
</div>
