@using SmartLMS.Domain.Resources
@model IEnumerable<SmartLMS.WebUI.Models.ClassViewModel>
<div class="list-group">
    @foreach (var klass in Model)
    {
        if (klass.Available)
        {
            @:<a href="@Url.Action("Watch", "Class", new { Id = klass.Id })" class="link-group-item">
            }
            <div class="list-group-item list-group-item-sm">
                <div class="row-action-primary" @if (!klass.Available) { <text> data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="@Resource.NoAccessToClassMessage" </text> }>
                    <i class="fa fa-laptop @if (ViewBag.CurrentClassId == klass.Id) { <text>active</text> }"></i>
                </div>
                <div class="row-content">

                    @if (!klass.Available)
                    {
                        <label class="pull-right label label-default"><i class="fa fa-lock"></i></label>
                    }
                    <h5 class="class-name">
                        @klass.Name
                    </h5>
                    @if (klass.Available)
                    {
                        <div class="progress progress-line-primary">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@klass.Percentual" aria-valuemin="0" aria-valuemax="100" style="width: @klass.Percentual%;">
                                <span class="sr-only">">@(klass.Percentual)% @Resource.ConcludedLabel</span>
                            </div>
                        </div>
                    }
                    <label>@Resource.TeacherName: </label><span> @klass.TeacherName</span>
                </div>
            </div>
            if (klass.Available)
            {
            @:</a>
        }
        <div class="list-group-separator list-group-separator-sm"></div>
    }
</div>