@model IEnumerable<SmartLMS.WebUI.Models.ClassViewModel>
<div class="list-group">
    @foreach (var klass in Model)
    {
        if (klass.Available)
        {
            @:<a href="@Url.Action("Watch", "Class", new { Id = klass.Id })" class="link-group-item">
            }
            <div class="list-group-item">
                <div class="row-action-primary" @if (!klass.Available) { <text> data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="You don't have access to this class" </text> }>
                    <i class="fa fa-laptop"></i>
                </div>
                <div class="row-content">

                    @if (!klass.Available)
                    {
                        <label class="pull-right label label-default"><i class="fa fa-lock"></i></label>
                    }
                    <h5 class="class-name">
                        @klass.Name
                    @if (klass.Editable)
                    {
                        <a href="@Url.Action("Edit", "Class", new { Id = klass.Id })">
                            <i class="fa fa-pencil"></i>
                        </a>
                    }
                </h5>
                @if (klass.Available)
                {
                    <div class="progress progress-line-primary">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@klass.Percentual" aria-valuemin="0" aria-valuemax="100" style="width: @klass.Percentual%;">
                            <span class="sr-only">">@(klass.Percentual)% Concluída</span>
                        </div>
                    </div>
                }
                <label>Teacher: </label><span> @klass.TeacherName</span>
            </div>
        </div>
        if (klass.Available)
        {
        @:</a>
    }
    <div class="list-group-separator"></div>
}
</div>