@using SmartLMS.Domain.Resources
@model CourseViewModel
<div class="card">
    <div class="content">
        <h3 class="index-title text-primary">
            <i class="fa fa-graduation-cap text-primary"></i> @Resource.CourseName @Model.Name
        </h3>
        <h4>
            <strong>Teacher in charge:</strong> @Model.TeacherInChargeName</h4>
        @Html.Partial("_ClassList", Model.Classes)
        <a href="@Url.Action("Index", "Course", new {Id = Model.SubjectId})" class="btn btn-primary btn-simple pull-right">
            <i class="material-icons">reply</i> @Resource.BackToIndex
        </a>
    </div>
</div>