@model SmartLMS.WebUI.Models.CursoViewModel
<div class="card">
    <div class="content">
        <h3 class="titulo-indice text-primary"><i class="fa fa-graduation-cap text-primary"></i> @ViewBag.Curso @Model.Nome </h3>
        <h4><strong>Professor Responsável:</strong> @Model.NomeProfessorResponsavel</h4>
        <div class="list-group">
            @foreach (var aula in Model.Aulas)
            {
                <a href="@Url.Action("Ver", "Aula", new { Id = aula.Id })" class="link-group-item">
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary">
                                <div class="progress progress-line-primary">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <h5>@aula.Nome</h5>
                            <label>Professor: </label><span> @aula.NomeProfessor</span>
                        </div>
                    </div>
                </a>
                    <div class="list-group-separator"></div>
            }
        </div>
        <a href="@Url.Action("Index", "Curso", new { Id = Model.IdAssunto })" class="btn btn-primary pull-right">
            <i class="material-icons">reply</i> Voltar para o índice
        </a>
    </div>
</div>
