@model SmartLMS.WebUI.Models.AssuntoViewModel
<div class="card">
    <div class="content">
        <h3 class="text-primary titulo-indice"><i class="fa fa-map text-primary"></i> @ViewBag.Assunto @Model.Nome</h3>
        <p>
            Selecione abaixo um dos @(ViewBag.AulaPlural.ToLower()) disponíveis neste @ViewBag.Assunto.ToLower()
        </p>
        <div class="list-group">
            @foreach (var curso in Model.Cursos)
            {
                <a href="@Url.Action("Index", "Aula", new { Id = curso.Id })" class="link-group-item">

                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary"><i class="material-icons">info</i></div>
                            <h4 class="list-group-item-heading">@curso.Nome</h4>

                            <p class="list-group-item-text">@curso.Aulas.Count() @(ViewBag.Aula)(s)</p>
                            <p><label>Professor: </label> @curso.NomeProfessorResponsavel</p>
                        </div>
                    </div>
                </a>
                    <div class="list-group-separator"></div>
            }
        </div>
        <a href="@Url.Action("Index", "Assunto", new { Id = Model.IdArea })" class="btn btn-primary pull-right">
            <i class="material-icons">reply</i> Voltar para o índice
        </a>
    </div>
</div>