@using SmartLMS.Dominio.Entidades
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <title>@Parametro.PROJETO - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/Scripts/pace/pace.min.js"></script>
    @{ 
        string actionName = ViewContext.RouteData.Values["action"].ToString();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    }
    @if (actionName == "Index" && controllerName == "Home")
    {
       <link href="~/content/pace/green-loading-bar.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/content/pace/green-minimal.css" rel="stylesheet" />
    }
    <script>
        var SmartLMS = {};
        SmartLMS.api = '@Url.Content("~/")';

         
            
     
    </script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csscustom")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <base href="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")" />
</head>
<body>

    @Html.Action("ExibirCabecalho", "Usuario")
    <div class="sidebar-container">
        <div class="container">
            @RenderBody()

        </div>
    </div>

    <footer class="footer footer-black">
        <div class="container">
            <div class="col-sm-3">
                <nav class="pull-left">
                    <ul>
                        <li>
                            Smart 2.0 - LMS
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-9">
                <div class="copyright pull-right">
                    © 2016, feito com <i class="fa fa-heart heart"></i> por <a href="http://www.itanio.com.br" target="_blank">Itanio</a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/data")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        SmartLMS.IdUsuarioLogado = '@ViewBag.IdUsuarioLogado';


        (function () {
            var $private = {};

            $(function () {
                $("#frmFaleConosco").on("submit", $private.EnviarFaleConosco);
            });

            $private.EnviarFaleConosco = function (e) {
                e.preventDefault();
                $.validator.unobtrusive.parse($(this));

                if ($(this).valid()) {
                    var enviarTextoOriginal = $("#btnFaleConosco-Enviar").text();
                    var enviando = $("<img src='@Url.Content("~/Content/Img/loading-white.gif")'><span> Enviando</span>");
                    $("#btnFaleConosco-Enviar").html(enviando);
                    $("#btnFaleConosco-Enviar").prop('disabled', true);
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.Success)
                                SmartLMS.App.toastr['success']('Sua mensagem foi enviada com sucesso!', 'Fale Conosco');
                            else
                                SmartLMS.App.toastr['error']('Ocorreu um erro ao enviar a mensagem, tente novamente.    ', 'Fale Conosco');


                            $("#txtFaleConosco-Nome").val("");
                            $("#txtFaleConosco-Email").val("");
                            $("#txtFaleConosco-Mensagem").val("");
                            $("#btnFaleConosco-Enviar").text(enviarTextoOriginal);
                            $("#btnFaleConosco-Enviar").prop('disabled', false);
                        }
                    });
                }
            };
        }());

    </script>
    @RenderSection("scripts", required: false)

    @Html.Partial("_Alert")
    @Html.Partial("_sobre")
    @Html.Partial("_faleConosco", new FaleConoscoViewModel())
   
</body>
</html>
