@using System.Configuration
@using SmartLMS.Domain.Entities
@using SmartLMS.Domain.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <title>@Parameter.APP_NAME - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <meta name="description" content="Learning Management System">
    <meta property="og:title" content="@Parameter.APP_NAME - Powered by Smart LMS" />
    <meta property="og:url" content="@Parameter.BASE_URL" />
    <meta property="og:description" content="Learning Management System">
    <meta property="og:image" content="~/Content/icons/icon-384x384.png">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:locale:alternate" content="pt_BR" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/icons/site.webmanifest">
    <link rel="mask-icon" href="~/Content/icons/safari-pinned-tab.svg" color="@ConfigurationManager.AppSettings["ThemeColor"]">
    <meta name="msapplication-TileColor" content="@ConfigurationManager.AppSettings["ThemeColor"]">
    <meta name="theme-color" content="@ConfigurationManager.AppSettings["ThemeColor"]">

    <script src="~/Scripts/pace/pace.min.js"></script>
    @{
        var actionName = ViewContext.RouteData.Values["action"].ToString();
        var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    }
    @if (actionName == "Index" && controllerName == "Home")
    {
        @Styles.Render("~/Content/loadingbar");
    }
    else
    {
        @Styles.Render("~/Content/loadingminimal");
    }
    <script>
        var SmartLMS = {};
        SmartLMS.api = '@Parameter.BASE_URL/';


    </script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csscustom")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <base href="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")" />
</head>
<body>

    @Html.Action("Header", "User")
    <div class="sidebar-container">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer class="footer footer-black">
        <div class="container">
            <div class="col-sm-3">
                <nav class="pull-left">
                    <ul>
                        <li>
                            Smart 2.0 - LMS
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-9">
                <div class="copyright pull-right">
                    © 2016, @Resource.MadeWithLoveMessage <i class="fa fa-heart heart"></i> @Resource.MadeBy <a href="http://www.github.com/rcarubbi" target="_blank">Raphael Carubbi</a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/data")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    SmartLMS.LoggedUserId = '@ViewBag.LoggedUserId';


    (function() {
        var $private = {};

        $(function() {
            $("#talk-to-us-form").on("submit", $private.SendTalkToUs);
        });

        $private.SendTalkToUs = function(e) {
            e.preventDefault();
            $.validator.unobtrusive.parse($(this));

            if ($(this).valid()) {
                var sendMessageOriginalText = $("#talk-to-us-send-button").text();
                var sending =
                    $(
                        "<div class=\"inverted-animated-spinner\">Loading...</div><span> @Resource.Sending</span>");
                $("#talk-to-us-send-button").html(sending);
                $("#talk-to-us-send-button").prop('disabled', true);
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function(result) {
                        if (result.Success) {
                            SmartLMS.App.toastr['success']('@Resource.TalkToUsMessageSent',
                                '@Resource.TalkToUsToastrTitle');
                        } else {
                            SmartLMS.App.toastr['error']('@Resource.TalkToUsErrorMessage',
                                '@Resource.TalkToUsToastrTitle');
                        }

                        $("#talk-to-us-name-textbox").val("");
                        $("#talk-to-us-email-textbox").val("");
                        $("#talk-to-us-messaeg-textbox").val("");
                        $("#talk-to-us-send-button").text(sendMessageOriginalText);
                        $("#talk-to-us-send-button").prop('disabled', false);
                    }
                });
            }
        };
    }());

    </script>
    @RenderSection("scripts", false)

    @Html.Partial("_Alert")
    @Html.Partial("_About")
    @Html.Partial("_TalkToUs", new TalkToUsViewModel())

</body>
</html>