@using SmartLMS.Domain.Resources
@model IEnumerable<SmartLMS.WebUI.Models.ClassViewModel>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@SmartLMS.Domain.Resources.Resource.LastClassesTitle</h3>
    </div>
    <div class="panel-body scroll-panel">
        <div class="bs-component">
            <div class="list-group">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <div class="list-group-item list-group-item-sm">
                        <a href="@Url.Action("Watch", "Class", new { Id = item.Id })" class='link-group-item'>
                            <div class="row-action-primary">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="row-content">
                                <h5 class="list-group-item-heading">@item.Name</h5>
                                <p class="list-group-item-text">@item.CourseName</p>
                                <div class="footer-content">@item.DeliveryDateDescription</div>
                            </div>
                        </a>
                    </div>
                    <div class="list-group-separator list-group-separator-sm"></div>
                    }
                }
                else
                {
                    <div class="text-center">@Resource.NoClasses</div>
                }
            </div>
        </div>
    </div>
</div>
