@model IEnumerable<SmartLMS.WebUI.Models.AulaViewModel>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@TempData["TituloUltimasAulas"]</h3>
    </div>
    <div class="panel-body">
        <div class="bs-component">
            <div class="list-group">
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                    <div class="list-group-item list-group-item-sm">
                        <a href="@Url.Action("Ver", "Aula", new { Id = item.Id })" class='link-group-item'>
                            <div class="row-action-primary">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="row-content">
                                <h5 class="list-group-item-heading">@item.Nome</h5>
                                <p class="list-group-item-text">@item.NomeCurso</p>
                                <div class="footer-content">@item.DataInclusaoTexto</div>
                            </div>
                        </a>
                    </div>
                    <div class="list-group-separator list-group-separator-sm"></div>
                    }
                }
                else
                {
                    <div class="text-center">Nenhuma aula adicionada</div>
                }
            </div>
        </div>
    </div>
</div>
