@model IEnumerable<SmartLMS.WebUI.Models.AcessoAulaViewModel>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@TempData["TituloAulasAssistidas"]</h3>
    </div>
    <div class="panel-body">
        <div class="bs-component">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <div class="list-group-item list-group-item-sm">
                        <a href="@Url.Action("Ver","Aula", new { Id = item.IdAula })" class='link-group-item'>
                            <div class="row-action-primary">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="row-content">
                                <div class="least-content">@item.DataHoraTexto</div>
                                <h5 class="list-group-item-heading">@item.NomeAula</h5>
                                <p class="list-group-item-text">@item.NomeCurso</p>
                            </div>
                        </a>
                    </div>
                    <div class="list-group-separator list-group-separator-sm"></div>
                }
             
            </div>
        </div>

    </div>
</div>