@using SmartLMS.Domain.Resources
@model SmartLMS.WebUI.Models.SubjectViewModel

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Course", new { Id = Model.Id })">
                <h3 class="panel-title text-white"><i class="fa fa-map text-white"></i> @(Model.Name)</h3>
            </a>
        </div>
        <div class="panel-body">
            @if (Model.Courses.Any())
            {
                <div class="container">
                    <div class="container text-center">
                        <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="carousel-@Model.KnowledgeAreaId-@Model.Order">
                            <div class="carousel-inner">
                                @{
                                    bool first = true;
                                    Html.ViewData.Add(new KeyValuePair<string, object>("activeItemCSSClass", "active"));
                                }
                                @foreach (var course in Model.Courses)
                                {
                                    if (first)
                                    {
                                        first = !first;
                                    }
                                    else
                                    {
                                        Html.ViewData["activeItemCSSClass"] = "";
                                    }
                                    @Html.Partial("_CourseGroupItem", course, Html.ViewData)

                                }
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-@Model.KnowledgeAreaId-@Model.Order" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#carousel-@Model.KnowledgeAreaId-@Model.Order" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
                <a class="btn btn-simple btn-primary pull-right" href="@Url.Action("Index", "Course", new { Id = Model.Id })">See the full index <span class="label label-info">@Model.Courses.Count()</span></a>
            }
            else
            {
                <h4 class="text-center">@Resource.NoCourses</h4>
            }
        </div>
    </div>
</div>
