@using SmartLMS.Domain.Entities
@model SmartLMS.WebUI.Models.SubjectViewModel
<div class="card">
    <div class="content">
        <h3 class="text-primary index-title"><i class="fa fa-map text-primary"></i> @Parameter.SUBJECT @Model.Name</h3>
        <p>
            Select below one of the @(Parameter.CLASS_PLURAL.ToLower()) available in this @Parameter.SUBJECT.ToLower()
        </p>
        <div class="list-group">
            @foreach (var course in Model.Courses)
            {
                <a href="@Url.Action("Index", "Class", new { Id = course.Id })" class="link-group-item">

                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">@course.Name</h4>
                            <p class="list-group-item-text">@course.Classes.Count() @(course.Classes.Count() > 1? Parameter.CLASS_PLURAL : Parameter.CLASS)</p>
                            <p><label>Teacher: </label> @course.TeacherInChargeName</p>
                        </div>
                    </div>
                </a>
                    <div class="list-group-separator"></div>
            }
        </div>
        <a href="@Url.Action("Index", "Subject", new { Id = Model.KnowledgeAreaId })" class="btn btn-primary btn-simple pull-right">
            <i class="material-icons">reply</i> Back to index
        </a>
    </div>
</div>