@using SmartLMS.Domain.Resources
@model SmartLMS.WebUI.Models.TalkToUsViewModel
<div class="modal fade" id="talk-to-us" tabindex="-1" role="dialog" aria-labelledby="@Resource.TalkToUsTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">@Resource.TalkToUsTitle</h4>
            </div>
            @using (Html.BeginForm("TalkToUs", "Home", null, FormMethod.Post, new { id = "talk-to-us-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">@Resource.TalkToUsEmailLabel</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "talk-to-us-email-textbox", autocomplete = "email" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">@Resource.TalkToUsNameLabel</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "talk-to-us-name-textbox", autocomplete = "name" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">message</i>
                        </span>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = Resource.TalkToUsMessagePlaceholder, rows = "5", id= "talk-to-us-message-textbox" })
                        @Html.ValidationMessageFor(x => x.Message)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="talk-to-us-send-button" class="btn btn-primary">@Resource.SendButton</button>
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">@Resource.CloseButton</button>
                </div>
            }
        </div>
    </div>
</div>