@model IEnumerable<SmartLMS.WebUI.Models.AreaConhecimentoViewModel>
@Html.Partial("_BuscaContextual")

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="content">
                <h6 class="panel-title text-primary">
                    <strong>Selecione uma das áreas de conhecimento dísponíveis</strong>
                </h6>
                <div class="card-body">
                    <ul class="nav nav-pills" role="tablist">
                        @{
                            var primeiraLinha = true;
                        }
                        @foreach (var item in Model)
                        {
                            <li class="@(primeiraLinha? "active" : "")">
                                <a href="#areaConhecimento-@item.Ordem" role="tab" data-toggle="tab" aria-expanded="@(primeiraLinha? "true" : "false")">
                                    <i class="fa fa-map-signs text-primary"></i>
                                    <p class="text-primary">@item.Nome</p>
                                </a>
                            </li>
                            if (primeiraLinha)
                            {
                                primeiraLinha = false;
                            }
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <h6 class="text-primary"><strong>e veja abaixo os cursos por assunto</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        @Html.Action("ExibirAvisos", "Usuario")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-content">
            @{
                primeiraLinha = true;
            }
            @foreach (var item in Model)
            {

                <div id="areaConhecimento-@item.Ordem" class="tab-pane fade @(primeiraLinha? "in active" : "")">
                    @Html.Partial("_AreaConhecimentoPanel", item)
                </div>

                if (primeiraLinha)
                {
                    primeiraLinha = false;
                }
            }
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <h4 class="text-primary"><i class="fa fa-bell"></i> Fique por dentro das novidades através dos paineis de acessos rápidos</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        @Html.Action("ExibirPainelNovasAulas", "Aula")
    </div>
    <div class="col-md-5">
        @Html.Action("ExibirUltimasAulas", "Usuario")
      
    </div>
     
</div>


@section scripts {
    <script>
        SmartLMS.HomeControllerProxy = (function () {
            var $private = {}, $public = {};

            $public.BuscaContextual = function (termo, pagina) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Home/BuscaContextualPaginada",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ termo: termo, pagina: pagina })
                });
            };
            

            $public.VisualizarAviso = function (idAviso, idUsuario) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Aviso/Visualizar",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ idAviso: idAviso, idUsuario: idUsuario })
                });
            }
            return $public;
        }());

        (function (proxy) {
            var $private = {};

            $(function () {
                $("#busca-contextual-button").on("click", $private.efetuarBusca);
                $(document).on("click", ".panel-body .aviso .alert button[data-dismiss]", $private.visualizarAviso);
                $private.ResultadoBuscaTemplate = Handlebars.compile($("#resultado-busca-template").html());
                $private.AvisoTemplate = Handlebars.compile($("#aviso-template").html());
            });

            $private.efetuarBusca = function () {
                $("#resultado-busca-container").slideUp();
                proxy.BuscaContextual($("#q").val(), 1)
                    .done($private.exibirResultados)
                    .fail(function () { console.log("Erro"); });
            };

            $private.exibirResultados = function (data) {
                $("#resultado-busca-container").html($private.ResultadoBuscaTemplate({ ResultadoBusca: data.Entities, paginas : data.Count / 10, possuiAnterior: data.HasPrevious, possuiProxima: data.HasNext }));
                $("#resultado-busca-container").slideDown();
            };

            $private.visualizarAviso = function (e) {
                
                var aviso = $(e.target).closest(".aviso");
                var idAviso = aviso.data("id");
                aviso.fadeOut("slow", null, function () {
                    proxy.VisualizarAviso(idAviso, SmartLMS.IdUsuarioLogado).done($private.atualizarAvisos);
                });
            };

            $private.atualizarAvisos = function (data) {
                var aviso = $private.AvisoTemplate(data);
                $(aviso).hide().appendTo($("#corpo-painel-avisos")).fadeIn();
            }
        }(SmartLMS.HomeControllerProxy));
    </script>
}
