@model IEnumerable<SmartLMS.WebUI.Models.AreaConhecimentoViewModel>
@{
    ViewBag.Title = "Home";
    var areasBootstrapClass = "col-md-12";
}
@Html.Partial("_BuscaContextual")

<div class="row">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        areasBootstrapClass = "col-md-7 col-md-pull-5";
    <div class="col-md-5 col-md-push-7">
        @Html.Action("ExibirAvisos", "Aviso")
    </div>
    }

    <div class="@areasBootstrapClass">
        <div class="card" style="min-height: 295px;">
            <div class="content">
                <h6 class="panel-title text-primary">
                    <strong>Selecione uma das áreas de conhecimento dísponíveis</strong>
                </h6>
                <div class="card-body areas-conhecimento-bar">
                    <ul class="nav nav-pills" role="tablist">
                        @{
                            var primeiraLinha = true;
                        }

                        @foreach (var item in Model)
                        {
                        <li class="@(primeiraLinha ? "active" : "")">
                            <a href="#areaConhecimento-@item.Ordem" role="tab" data-toggle="tab" aria-expanded="@(primeiraLinha ? "true" : "false")">
                                <i class="fa fa-map-signs text-primary"></i>
                                <p class="text-primary">@item.Nome</p>
                            </a>
                        </li>
                            if (primeiraLinha)
                            {
                                primeiraLinha = false;
                            }
                        }

                    </ul>
                </div>
                <div class="card-footer">
                    <h6 class="text-primary"><strong>e veja abaixo os cursos por assunto</strong></h6>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-content">
            @{
                primeiraLinha = true;
            }
            @foreach (var item in Model)
            {

            <div id="areaConhecimento-@item.Ordem" class="tab-pane fade @(primeiraLinha? "in active" : "")">
                @Html.Partial("_AreaConhecimentoPanel", item)
            </div>

                if (primeiraLinha)
                {
                    primeiraLinha = false;
                }
            }
        </div>
    </div>
</div>


@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <h4 class="text-primary"><i class="fa fa-exclamation-circle"></i> Fique por dentro das novidades através dos paineis de acessos rápidos</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Action("ExibirPainelNovasAulas", "Aula")
        </div>
        <div class="col-md-6">
            @Html.Action("ExibirUltimasAulas", "Aula")

        </div>

    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        SmartLMS.HomeControllerProxy = (function () {
            var $private = {}, $public = {};

            $public.BuscaContextual = function (termo, pagina) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Home/BuscaContextualPaginada",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ termo: termo, pagina: pagina })
                });
            };


            $public.VisualizarAviso = function (idAviso, idUsuario) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Aviso/Visualizar",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ idAviso: idAviso, idUsuario: idUsuario })
                });
            };

            return $public;
        }());

        (function (proxy) {
            var $private = {}, buscaContextual = {};

            $(function () {
                $("#busca-contextual-button").on("click", $private.pesquisarTermo);
                $("#resultado-busca-container").on("click", ".busca-contextual-paginacao-proxima", $private.proximaPagina);
                $("#resultado-busca-container").on("click", ".busca-contextual-paginacao-pagina", $private.irParaPagina);
                $("#resultado-busca-container").on("click", ".busca-contextual-paginacao-anterior", $private.paginaAnterior);
                $("#corpo-painel-avisos").on("click", ".aviso .alert button[aria-hidden]", $private.visualizarAviso);
                $private.ResultadoBuscaTemplate = Handlebars.compile($("#resultado-busca-template").html());
                if ($("#aviso-template").html())
                    $private.AvisoTemplate = Handlebars.compile($("#aviso-template").html());
            });

            $private.pesquisarTermo = function () {
                buscaContextual.PaginaCorrente = 1;
                buscaContextual.Termo = $("#q").val();

                $private.efetuarBusca();
            };

            $private.efetuarBusca = function () {
                $("#resultado-busca-container").slideUp();
                proxy.BuscaContextual(buscaContextual.Termo, buscaContextual.PaginaCorrente)
                    .done($private.exibirResultados)
                    .fail(function () { console.log("Erro"); });
            };


            $private.atualizarPagina = function () {

                proxy.BuscaContextual(buscaContextual.Termo, buscaContextual.PaginaCorrente)
                    .done($private.atualizarResultados)
                    .fail(function () { console.log("Erro"); });
            };

            $private.proximaPagina = function () {
                buscaContextual.PaginaCorrente++;
                $private.atualizarPagina();
            };

            $private.irParaPagina = function () {
                var pagina = $(this).text();
                buscaContextual.PaginaCorrente = pagina;
                $private.atualizarPagina();
            };

            $private.paginaAnterior = function () {
                buscaContextual.PaginaCorrente--;
                $private.atualizarPagina();
            };

            $private.CalcularPaginaMinima = function (quantidade, pagina) {
                pagina = parseInt(pagina);
                if (pagina < 4) {
                    return 1;
                }
                else if (pagina > quantidade - 3) {
                    return quantidade - 4;
                }
                else {
                    return pagina - 2;
                }
            };

            $private.CalcularPaginaMaxima = function (quantidade, pagina) {
                pagina = parseInt(pagina);
                if (pagina < 4) {
                    if (quantidade < 6) {
                        return quantidade + 1;
                    }
                    else {
                        return 6;
                    }
                }
                else if (pagina > quantidade - 3) {
                    return quantidade + 1;
                }
                else {
                    return pagina + 3;
                }
            };

            $private.exibirResultados = function (data) {
                $("#resultado-busca-container").html($private.ResultadoBuscaTemplate(
                    {
                        ResultadoBusca: data.resultados.Entities,
                        termo: buscaContextual.Termo,
                        paginas: Math.ceil(data.resultados.Count / 8),
                        possuiAnterior: data.resultados.HasPrevious,
                        possuiProxima: data.resultados.HasNext,
                        paginaCorrente: data.paginaCorrente,
                        paginaMin: $private.CalcularPaginaMinima(Math.ceil(data.resultados.Count / 8), data.paginaCorrente),
                        paginaMax: $private.CalcularPaginaMaxima(Math.ceil(data.resultados.Count / 8), data.paginaCorrente)
                    }));
                $("#resultado-busca-container").slideDown();
            };

            $private.atualizarResultados = function (data) {
                $("#resultado-busca-container").html($private.ResultadoBuscaTemplate(
                    {
                        ResultadoBusca: data.resultados.Entities,
                        termo: buscaContextual.Termo,
                        paginas: Math.ceil(data.resultados.Count / 8),
                        possuiAnterior: data.resultados.HasPrevious,
                        possuiProxima: data.resultados.HasNext,
                        paginaCorrente: data.paginaCorrente,
                        paginaMin: $private.CalcularPaginaMinima(Math.ceil(data.resultados.Count / 8), data.paginaCorrente),
                        paginaMax: $private.CalcularPaginaMaxima(Math.ceil(data.resultados.Count / 8), data.paginaCorrente)
                    }));

            };

            $private.visualizarAviso = function (e) {

                var aviso = $(e.target).closest(".aviso");
                var idAviso = aviso.data("id");
                aviso.fadeOut("slow", null, function () {
                    proxy.VisualizarAviso(idAviso, SmartLMS.IdUsuarioLogado).done($private.atualizarAvisos);
                });
            };

            $private.atualizarAvisos = function (data) {
                var aviso = $private.AvisoTemplate(data);
                $(aviso).hide().appendTo($("#corpo-painel-avisos")).fadeIn("slow");

            };
        }(SmartLMS.HomeControllerProxy));


    </script>
}


