@model SmartLMS.WebUI.Models.ComentarioViewModel

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "comentar-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdAula, new { htmlAttributes = new { @class = "form-control" } })


        @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", placeholder = "Faça seu comentário sobre a aula aqui", rows = "5" })
        @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Comentar" class="btn btn-sm btn-primary" />
            </div>
        </div>

    </div>
}


