@model Carubbi.GenericRepository.PagedListResult<ClassViewModel>

@{
    ViewBag.Title = "Class management";
}
@section styles {
    <style type="text/css">
        .checkbox {
            margin: 0px;
        }

        .form-group {
            margin-top: 10px !important;
        }
    </style>
}


<div class="panel panel-primary">
    <div class="panel-heading">
        Class list
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <a href="@Url.Action("Create")" class="btn btn-sm btn-info"><i class="fa fa-plus" style="font-size: 10px; top: 0px; left: 2px;"></i> <i class="fa fa-laptop"></i> </a>
            </div>
            <div class="col-md-7 pull-right">
                <div class="col-md-4">
                    <div class="form-group label-static is-empty">
                        <label for="SearchField" class="control-label">Search by</label>
                        @Html.DropDownList("SearchField", ViewBag.SearchFields as SelectList, new { @class = "form-control dropdownjs" })
                    </div>
                </div>
                <div class="form-group label-floating is-empty col-md-7">
                    <label class="control-label" for="q">type the term you want to find</label>
                    <div class="input-group" style="display:block">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="search" name="term" id="term" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm" id="filter-button">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Order")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName("Course")
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName("Subject")
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName("Knowledge Area")
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName("Active")
                    </th>
                    <th class="hidden-sm  hidden-xs">
                        @Html.DisplayName("Created at")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="result-container">
                @foreach (var item in Model.Entities)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @Html.DisplayFor(modelItem => item.SubjectName)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @Html.DisplayFor(modelItem => item.KnowledgeAreaName)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td class="hidden-sm  hidden-xs">
                            @item.CreatedAt.ToShortDateString()
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                                <a href="@Url.Action("Edit", new { Id = item.Id })" class="btn btn-success btn-sm">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-danger btn-sm btn-delete" data-id="@item.Id" data-name="@item.Name">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            @if (!Model.Entities.Any())
            {
                <tr>
                    <td colspan="7" class="text-center">
                        No class found
                    </td>
                </tr>
            }

        </table>
        @Html.Partial("_Pagination")
    </div>
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="Confirmação de Exclusão" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Delete Course</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-delete-agree" data-dismiss="modal"><i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-thumbs-down"></i></button>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/pagination.js"></script>
    <script type="text/x-handlebars-template" id="result-template">
        {{#each Entities}}
        <tr>
            <td class="col-md-1">
                {{Order}}
            </td>
            <td>
                {{Name}}
            </td>
            <td class="hidden-sm  hidden-xs">
                {{CourseName}}
            </td>
            <td class="hidden-sm  hidden-xs">
                {{SubjectName}}
            </td>
            <td class="hidden-sm  hidden-xs">
                {{KnowledgeAreaName}}
            </td>
            <td class="hidden-sm hidden-xs">
                <div class="checkbox">
                    <label>
                        <input name="Active" type="checkbox" disabled {{#if Active}} checked {{/if}}>
                    </label>
                </div>
            </td>
            <td class="hidden-sm  hidden-xs">
                {{toShortDateString CreatedAt}}
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin: 0px;">
                    <a href="@Url.Content("~/Class/Edit/"){{Id}}" class="btn btn-success btn-sm">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}" data-name="{{Name}}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </td>
        </tr>
        {{/each}}
        {{#equals Count 0}}
        <tr>
            <td colspan="7" class="text-center">
                No class found
            </td>
        </tr>
        {{/equals}}
    </script>
    <script>
        SmartLMS.ClassProxy = (function () {
            $public = {}, $private = {};


            $public.search = function (term, searchFieldname, page) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Class/Search",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ term, searchFieldname, page  })
                });
            };

            $public.delete = function (id) {
                return $.ajax({
                    type: "POST",
                    url: SmartLMS.api + "Class/Delete",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ id: id })
                });
            };

            return $public;
        }());

        (function (proxy) {
            var $private = {}, $public = {};

            $(function () {
              
                SmartLMS.Pagination.init({
                    onPageChanged: $private.changePage,
                });
                $private.SearchFieldName = "Name";
 
                $("#SearchField").on("dropdownjs.change", function () {
                    var selectedItem = $(this).find("option:selected");
                    $private.SearchFieldName = selectedItem.val();
                });

                $("#filter-button").on("click", $private.search);
                $("#deleteConfirmation").on("click", ".btn-delete-agree", $private.delete);
                $(document).on("click", "#result-container .btn-delete", $private.confirmDelete);
            });

            $private.changePage = function (page) {
                var term = $("#term").val();
                return proxy.search(term, $private.SearchFieldName, page);
            };
 
            $private.delete = function () {
                var id = $(this).parent().parent().find(".modal-body").data("id");
                SmartLMS.App.AddNotification({
                    MessageTitle: 'Content management',
                    Message: 'Class deleted!',
                    MessageType: 'error'
                });

                proxy.delete(id).done($private.search);
            };


            $private.confirmDelete = function (e) {
                e.preventDefault();

                var klass = {
                    id: $(this).data("id"),
                    name: $(this).data("name")
                };
                $("#deleteConfirmation").find(".modal-body").data("id", klass.id);
                $("#deleteConfirmation").find(".modal-body").html("<p>Do you really want to delete the class " + klass.name + "?</p>");
                $("#deleteConfirmation").modal();
            };

      
            $private.search = function () {
                SmartLMS.Pagination.CurrentPage = 1;
                var term = $("#term").val();
                $.when(proxy.search(term, $private.SearchFieldName, SmartLMS.Pagination.CurrentPage))
                    .then(SmartLMS.Pagination.refreshResults)
                    .then(SmartLMS.App.InitControls);
            };

        }(SmartLMS.ClassProxy));
    </script>
}
